{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
            <a href="{{url_for('showLogin')}}">Click Here to Log in </a>
            <a href="{{url_for('gdisconnect')}}">Click Here to Log Out </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Restaurants</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

    <a href="{{url_for('newRestaurant')}}">Add New Restaurant</a>

    {% for i in restaurant %}

        <div>

        <h3>{{i.name}}</h3>
        <p>(ID: {{i.id}})</p>
        <a href="{{url_for('restaurantMenu', restaurant_id=i.id)}}">View Menu</a>
        </br>
        <a href="{{url_for('editRestaurant', id=i.id)}}">Edit</a>
        </br>
        <a href="{{url_for('deleteRestaurant', id=i.id)}}">Delete</a>

        </div>
    {% endfor %}
	
{% endblock %}